div.contact-me div {
  color: inherit;
  background: inherit;
}

div.contact-me > div.container {
  align-items: center;
}

div.contact-me .ui.form input,
div.contact-me .ui.form textarea {
  background: inherit;
  border: 0.4px solid white;
  border-bottom: 2px solid white;
  color: inherit;
}

div.contact-me .ui.form .field > label {
  color: inherit;
}

div.ui.inverted.segment {
  padding: 4em 3em;
}

@media only screen and (min-width: 602px) {
  div.ui.inverted.segment {
    width: 600px;
  }
}
