.ui.centered.grid.icons {
  display: inline-flex;
  max-width: 100%;
  margin: 0;
}

.ui.centered.divided.middle.aligned.two.column.grid.skills-grid > .row > .column .column {
  padding-left: 0;
  padding-right: 0;
}

div.ui.grid.skills-sub-grid {
  width: 100%;
  margin: 0;
}

div.ui.grid.skills-sub-grid > .row {
  padding: 0;
}

.skills-grid .ui.grid > .row {
  padding: 0;
}

i.massive.icon {
  margin: 0;
}

i.angle.down {
  /* padding-top: 50px; */
  cursor: pointer;
}
